
*{
    margin: 0%;
    padding: 0%;
}
.countries{
    margin: 20px;
    display: flex;
    flex-direction: rows;
}
img{
    
    margin:  20px;
    border: 2px solid black;
    border-radius: 6px;
}

.btn1{
    padding: 10px 51px;
margin-left: 113px;
}
.btn2{
    padding: 10px 66px;
margin-left: 104px;  
}

    .btn3 {
padding: 10px 66px;
margin-left: 98px;
}
h1{
text-align: center;
text-decoration: underline;
}
.btn-primary{
text-decoration: none;
}
@media screen and (max-width: 768px){
.countries{
display: block;
}
}  
